{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block body_block %}


    <form action="/search/" method="post" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
        {% if error %}
            {{ error }}
        {%  endif %}
        <br/><br/>
        {% for field in form %}
            {{ field.errors }}
            <br/>
            {{ field.label_tag }}  {{ field }}
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>

    {% if results != "NULL" %}
        {% if results %}
            <br/>
            {% for result in results %}
                A date with {{ result.user }}
                <br/>
                {{ result.description }}
                <br/>
                ${{ result.price }}
                <br/><br/>

            {% endfor %}
        {% else %}
            <br/>
            No results found!
        {% endif %}
    {% endif %}




{% endblock %}